Repository YetAnotherTranscendenceTeam/ft_transcendence, pull requests merged in 2025-03, with the labels that each got.

#2 feat: add lobby diconnect message (cleaner disconnect)
  services/lobbies/srcs/Player.js
  services/lobbies/srcs/routes/root.js
  tests/srcs/lobbies/lobbies.test.js
Labels: bug, enhancement

#3 Personal Avatars
  .github/workflows/tests.yaml
  docker-compose.yaml
  documentation/backend.yaml
  modules/yatt-utils/srcs/http/HttpError.js
  modules/yatt-utils/srcs/http/fetch.js
  modules/yatt-utils/srcs/schemas/properties/profiles.js
  services/CDN/.avatars/203-200x200.jpg
  services/CDN/.avatars/505-200x200.jpg
  services/CDN/.avatars/620-200x200.jpg
  services/CDN/.avatars/928-200x200.jpg
  services/CDN/.avatars/974-200x200.jpg
  services/CDN/api/Dockerfile
  services/CDN/api/Dockerfile.dev
  services/CDN/api/package-lock.json
  services/CDN/api/package.json
  services/CDN/api/srcs/app/builder.js
  services/CDN/api/srcs/app/env.js
  services/CDN/api/srcs/app/router.js
  services/CDN/api/srcs/index.js
  services/CDN/api/srcs/routes/avatars/root.js
  services/CDN/nginx/Dockerfile
  services/CDN/nginx/conf/default.conf.template
  services/avatars/Dockerfile
  services/avatars/Dockerfile.dev
  services/avatars/package-lock.json
  services/avatars/package.json
  services/avatars/srcs/app/builder.js
  services/avatars/srcs/app/database.js
  services/avatars/srcs/app/env.js
  services/avatars/srcs/app/router.js
  services/avatars/srcs/index.js
  services/avatars/srcs/routes/root.js
  services/frontend/src/components/Profile/ConfirmProfileModal.tsx
  services/frontend/src/components/Settings/ProfileForm.tsx
  services/frontend/src/hooks/useAvatars.ts
  services/frontend/src/hooks/useFetch.ts
  services/frontend/src/ui/ImageSelector.tsx
  services/nginx/conf/default.conf.template
  services/token-manager/srcs/routes/token.js
  tests/dummy/one-dummy.js
  tests/package.json
  tests/srcs/avatars/b64avatars.js
  tests/srcs/avatars/creation.test.js
  tests/srcs/avatars/deletion.test.js
  tests/srcs/avatars/invalid.test.js
  tests/srcs/db-profiles/root.test.js
  tests/srcs/db-profiles/routine.test.js
  tests/srcs/db-profiles/usernames.test.js
  tests/srcs/pings.test.js
Labels: enhancement

#7 Fix hidden image after invalid src
  services/frontend/src/ui/Avatar.tsx
Labels: bug

#8 Refresh Tokens
  .env.template
  .github/workflows/tests.yaml
  dev-tools/secret-generator.sh
  docker-compose.yaml
  documentation/backend.yaml
  env-generator.sh
  services/fortytwo-auth/srcs/routes/callback.js
  services/frontend/src/contexts/useAuth.tsx
  services/frontend/src/hooks/useFetch.ts
  services/nginx/conf/default.conf.template
  services/password-auth/srcs/routes/root.js
  services/registration/srcs/routes/root.js
  services/token-manager/package-lock.json
  services/token-manager/package.json
  services/token-manager/srcs/app/builder.js
  services/token-manager/srcs/app/database.js
  services/token-manager/srcs/app/env.js
  services/token-manager/srcs/app/schedules.js
  services/token-manager/srcs/routes/refresh.js
  services/token-manager/srcs/routes/token.js
  services/token-manager/srcs/utils/generate.js
  tests/srcs/token-manager/generate.test.js
Labels: enhancement

#31 30 account deletion
  docker-compose.yaml
  documentation/backend.yaml
  env-generator.sh
  services/credentials/srcs/routes/root.js
  services/frontend/src/components/Auth/LoginForm.tsx
  services/frontend/src/components/Auth/RegisterForm.tsx
  services/nginx/conf/default.conf.template
  services/settings/package-lock.json
  services/settings/package.json
  services/settings/srcs/app/builder.js
  services/settings/srcs/app/env.js
  services/settings/srcs/app/router.js
  services/settings/srcs/routes/account.js
  services/token-manager/srcs/app/router.js
  services/token-manager/srcs/routes/root.js
  services/token-manager/srcs/routes/token.js
  tests/URLs.js
  tests/dummy/dummy-account.js
  tests/srcs/db-profiles/usernames.test.js
  tests/srcs/settings/account/deletion.test.js
Labels: bug, enhancement

#36 Remove Confirm Profile modal
  services/frontend/src/components/Profile/ConfirmProfileModal.tsx
  services/frontend/src/components/Profile/ProfileCard.tsx
  services/frontend/src/components/Profile/profile.css
Labels: bug

#42 Remote authentication avatar upload
  docker-compose.yaml
  services/fortytwo-auth/srcs/routes/callback.js
  services/settings/srcs/routes/profile.js
Labels: enhancement, backend

#44 Registration CORS error
  services/registration/srcs/app/builder.js
Labels: bug, backend

#53 Nginx configuration
  Makefile
  docker-compose.yaml
  services/nginx/Dockerfile
  services/nginx/conf/default.conf.template
  services/nginx/shared/backend-locations.conf
  services/nginx/shared/frontend-locations.conf
  tests/srcs/db-profiles/routine.test.js
Labels: conf

#54 Remote auth response validation
  modules/yatt-utils/srcs/schemas/properties/credentials.js
  services/credentials/srcs/app/database.js
  services/credentials/srcs/routes/fortytwo.js
  services/fortytwo-auth/package-lock.json
  services/fortytwo-auth/package.json
  services/fortytwo-auth/srcs/routes/callback.js
  services/fortytwo-auth/srcs/utils/validate.js
  services/frontend/src/components/Auth/FortyTwoAuthButton.tsx
Labels: backend

#58 Limit toast to 5
  services/frontend/src/hooks/useSocials.tsx
  services/frontend/src/hooks/useToast.ts
  services/frontend/src/hooks/useWebSocket.ts
Labels: frontend

#59 Fix error when profile update while user is in a lobby
  services/frontend/src/contexts/useAuth.tsx
  services/frontend/src/hooks/useSocials.tsx
Labels: bug, frontend

#60 pass ft_fetch to User and Follow constructor
  services/frontend/src/components/Profile/SocialFollowCard.tsx
  services/frontend/src/components/Profile/SocialManager.tsx
  services/frontend/src/components/Profile/SocialUserCard.tsx
  services/frontend/src/components/Settings/ProfileForm.tsx
  services/frontend/src/hooks/useSocials.tsx
  services/frontend/src/hooks/useToast.ts
  services/frontend/src/hooks/useUsers.ts
  services/frontend/src/ui/Button.tsx
  services/frontend/src/ui/ui.css
Labels: bug, frontend

#62 style update
  services/frontend/src/components/Menu/menu.css
  services/frontend/src/components/Settings/AccountForm.tsx
  services/frontend/src/components/Settings/ProfileForm.tsx
  services/frontend/src/components/Settings/Settings.tsx
  services/frontend/src/ui/Input.tsx
  services/frontend/src/ui/ui.css
Labels: frontend

#64 display lobby ws close message
  services/frontend/src/contexts/useLobby.tsx
Labels: enhancement, frontend

#65 sqlite volume
  docker-compose.yaml
Labels: conf, chore

#70 Google Sign in
  .github/workflows/tests.yaml
  .gitignore
  docker-compose.yaml
  documentation/backend.yaml
  env-generator.sh
  services/credentials/srcs/app/router.js
  services/credentials/srcs/routes/fortytwo.js
  services/credentials/srcs/routes/google.js
  services/fortytwo-auth/srcs/routes/callback.js
  services/frontend/src/components/Auth/AuthCard.tsx
  services/frontend/src/components/Auth/GoogleAuthButton.tsx
  services/frontend/src/config.ts
  services/frontend/src/contexts/useAuth.tsx
  services/google-auth/Dockerfile
  services/google-auth/Dockerfile.dev
  services/google-auth/package-lock.json
  services/google-auth/package.json
  services/google-auth/srcs/app/builder.js
  services/google-auth/srcs/app/env.js
  services/google-auth/srcs/app/router.js
  services/google-auth/srcs/index.js
  services/google-auth/srcs/routes/root.js
  services/google-auth/srcs/utils/getUser.js
  services/nginx/shared/backend-locations.conf
  tests/URLs.js
  tests/srcs/google-auth.test.js
  tests/srcs/pings.test.js
Labels: enhancement

#76 refacto type and simplify code
  modules/babact/src/core/BabactState.ts
  modules/babact/src/core/Hook.ts
  modules/babact/src/core/commit.ts
  modules/babact/src/core/reconcile.ts
  modules/babact/src/core/render.ts
  modules/babact/src/core/scheduler.ts
  modules/babact/src/hooks/useContext.ts
  modules/babact/src/hooks/useEffect.ts
  modules/babact/src/hooks/useRef.ts
  modules/babact/src/hooks/useState.ts
Labels: frontend

#77 22 update drag system
  services/frontend/src/components/Lobby/LobbyPlayerCard.tsx
  services/frontend/src/components/Lobby/LobbyTeamsList.tsx
  services/frontend/src/components/Lobby/lobby.css
  services/frontend/src/contexts/useLobby.tsx
  services/frontend/src/ui/Editable.tsx
Labels: enhancement, frontend

#78 allow credential in google auth fetch
  services/frontend/src/components/Auth/GoogleAuthButton.tsx
Labels: bug, frontend

#81 Remove background color if image is valid
  services/frontend/src/ui/Avatar.tsx
Labels: frontend

#79 Add loader on image deletion
  services/frontend/src/hooks/useAvatars.ts
  services/frontend/src/ui/ImageSelector.tsx
  services/frontend/src/ui/ui.css
Labels: enhancement, frontend

#80 Fix team rename error message
  services/frontend/src/components/Lobby/LobbyTeamsList.tsx
  services/frontend/src/contexts/useLobby.tsx
  services/frontend/src/ui/Editable.tsx
Labels: bug, frontend

#82 leave lobby on logout
  services/frontend/src/contexts/useAuth.tsx
  services/frontend/src/contexts/useLobby.tsx
  services/frontend/src/hooks/useSocials.tsx
  services/frontend/src/ui/Editable.tsx
Labels: bug, frontend
