Repository YetAnotherTranscendenceTeam/ft_transcendence, pull requests merged in 2025-05, with the labels that each got.

#191 feat!: deprecate DELETE /settings/account route
  services/settings/srcs/routes/account.js
  tests/URLs.js
  tests/dummy/dummy-account.js
  tests/dummy/dummy-account_2fa.js
  tests/srcs/settings/account/deletion.test.js
Labels: backend

#193 148 /me
  docker-compose.yaml
  documentation/backend.yaml
  documentation/service/Dockerfile
  documentation/service/README.md
  documentation/service/package-lock.json
  documentation/service/package.json
  documentation/service/srcs/app/builder.js
  documentation/service/srcs/index.js
  services/documentation/Dockerfile
  services/users/srcs/routes/me.js
  services/users/srcs/routes/root.js
  services/users/srcs/utils/getInfos.js
  tests/srcs/users.test.js
Labels: documentation, backend

#206 chore: add evaluation environment setup
  .github/workflows/production-build.yaml
  Makefile
  docker-compose.eval.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  env-generator.sh
Labels: conf

#208 A loading screen
  services/frontend/public/index.html
Labels: enhancement, frontend

#209 chore: rename db-profiles service to profiles
  docker-compose.prod.yaml
  docker-compose.yaml
  services/credentials/srcs/utils/createProfile.js
  services/fortytwo-auth/srcs/routes/callback.js
  services/google-auth/srcs/routes/root.js
  services/lobbies/srcs/ConnectionManager.js
  services/matchmaking/srcs/routes/tournaments.js
  services/profiles/.dockerignore
  services/profiles/Dockerfile
  services/profiles/Dockerfile.dev
  services/profiles/package-lock.json
  services/profiles/package.json
  services/profiles/srcs/app/builder.js
  services/profiles/srcs/app/database.js
  services/profiles/srcs/app/env.js
  services/profiles/srcs/app/router.js
  services/profiles/srcs/index.js
  services/profiles/srcs/routes/root.js
  services/profiles/srcs/utils/UsernameBank.js
  services/profiles/srcs/utils/adjectives.js
  services/profiles/srcs/utils/animals.js
  services/profiles/srcs/utils/generateUsername.js
  services/settings/srcs/routes/profile.js
  services/social/srcs/routes/blocks.js
  services/social/srcs/routes/requests.js
  services/social/srcs/utils/Client.js
  services/social/srcs/utils/userInfos.js
  services/users/srcs/routes/me.js
  services/users/srcs/routes/root.js
  tests/URLs.js
  tests/dummy/dummy-account.js
  tests/dummy/dummy-account_2fa.js
  tests/srcs/pings.test.js
  tests/srcs/profiles/generation-stress.test.js
  tests/srcs/profiles/get-profiles.test.js
  tests/srcs/profiles/root.test.js
  tests/srcs/profiles/routine.test.js
  tests/srcs/profiles/usernames.test.js
  tests/srcs/username-regex.test.js
Labels: chore

#213 Compose override
  .github/workflows/production-build.yaml
  .github/workflows/tests.yaml
  Makefile
  dev-tools/service-template/Dockerfile
  docker-compose.override.yaml
  docker-compose.prod.yaml
  docker-compose.yaml
  env-generator.sh
  services/CDN/api/Dockerfile
  services/avatars/Dockerfile
  services/credentials/Dockerfile
  services/fortytwo-auth/Dockerfile
  services/google-auth/Dockerfile
  services/lobbies/Dockerfile
  services/matchmaking/Dockerfile
  services/password-auth/Dockerfile
  services/profiles/Dockerfile
  services/registration/Dockerfile
  services/settings/Dockerfile
  services/social/Dockerfile
  services/token-manager/Dockerfile
  services/users/Dockerfile
Labels: conf

#214 cors configuration
  modules/yatt-utils/srcs/index.js
  modules/yatt-utils/srcs/swagger/setup.js
  services/lobbies/srcs/app/builder.js
  services/matchmaking/srcs/app/builder.js
  services/pong/srcs/app/builder.js
  services/profiles/srcs/app/builder.js
Labels: bug, chore

#226 Partial profile view
  modules/babact-router-dom/src/core/Route.tsx
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/App.tsx
  services/frontend/src/components/Online/ModeButton.tsx
  services/frontend/src/components/Online/SelectModeOverlay.tsx
  services/frontend/src/components/Online/online.css
  services/frontend/src/components/Profile/ProfileCard.tsx
  services/frontend/src/components/Profile/ProfileFilter.tsx
  services/frontend/src/components/Profile/ProfileGameDrawer.tsx
  services/frontend/src/components/Profile/ProfileGameList.tsx
  services/frontend/src/components/Profile/ProfileGameListItem.tsx
  services/frontend/src/components/Profile/ProfileHeader.tsx
  services/frontend/src/components/Profile/ProfileLineChart.tsx
  services/frontend/src/components/Profile/ProfilePieChart.tsx
  services/frontend/src/components/Profile/ProfileSocialButtons.tsx
  services/frontend/src/components/Profile/UserCard.tsx
  services/frontend/src/components/Profile/profile.css
  services/frontend/src/components/Settings/Settings.tsx
  services/frontend/src/components/Social/SocialManager.tsx
  services/frontend/src/components/Tournament/JoinMatchButton.tsx
  services/frontend/src/components/Tournament/MatchCard.tsx
  services/frontend/src/components/Tournament/Stage.tsx
  services/frontend/src/components/Tournament/TournamentEndModal.tsx
  services/frontend/src/components/Tournament/Tree.tsx
  services/frontend/src/components/Tournament/tournament.css
  services/frontend/src/contexts/useAuth.tsx
  services/frontend/src/contexts/useOverlay.tsx
  services/frontend/src/hooks/useAPI.ts
  services/frontend/src/hooks/useAccount.ts
  services/frontend/src/hooks/useFetch.ts
  services/frontend/src/hooks/useMatch.ts
  services/frontend/src/hooks/useMatches.ts
  services/frontend/src/hooks/useSSE.ts
  services/frontend/src/hooks/useTournament.ts
  services/frontend/src/hooks/useUser.ts
  services/frontend/src/hooks/useWebSocket.ts
  services/frontend/src/index.css
  services/frontend/src/templates/Overlay.tsx
  services/frontend/src/ui/Avatar.tsx
  services/frontend/src/ui/Pagination.tsx
  services/frontend/src/ui/ui.css
  services/frontend/src/views/Home.tsx
  services/frontend/src/views/LobbyView.tsx
  services/frontend/src/views/LocalView.tsx
  services/frontend/src/views/OnlineView.tsx
  services/frontend/src/views/ProfileView.tsx
  services/frontend/src/views/TournamentView.tsx
  services/frontend/src/views/views.css
Labels: enhancement, frontend

#224 chore: filter unused depencencies
  .github/workflows/tests.yaml
  Makefile
  documentation/service/package-lock.json
  documentation/service/package.json
  modules/yatt-utils/package-lock.json
  modules/yatt-utils/package.json
  services/2fa/package-lock.json
  services/2fa/package.json
  services/credentials/package-lock.json
  services/credentials/package.json
  services/fortytwo-auth/package-lock.json
  services/frontend/package-lock.json
  services/frontend/package.json
  services/password-auth/package-lock.json
  services/registration/package-lock.json
  services/settings/package-lock.json
  services/settings/package.json
  services/token-manager/package-lock.json
Labels: conf, chore

#228 lobby improvement
  services/frontend/src/components/Lobby/LobbyCard.tsx
  services/frontend/src/components/Lobby/lobby.css
  services/frontend/src/components/Social/SocialFriendCard.tsx
  services/frontend/src/ui/Dropdown.tsx
  services/frontend/src/ui/ui.css
Labels: enhancement, frontend

#240 fix: uncaught type error in pongclient when browser 'autocomplete' email
  services/frontend/src/components/Babylon/Keyboard.ts
Labels: bug, frontend, game

#243 222 block tournament lobby with incomplete team
  modules/yatt-lobbies/src/Lobby.ts
  modules/yatt-lobbies/src/index.ts
  services/frontend/src/components/Lobby/LobbyCard.tsx
  services/frontend/src/components/Lobby/lobby.css
  services/frontend/src/ui/PopHover.tsx
  services/frontend/src/ui/ui.css
  services/lobbies/srcs/Lobby.js
  services/settings/srcs/app/builder.js
  services/settings/srcs/routes/profile.js
  tests/srcs/matchmaking/matches-tests.js
  tests/srcs/matchmaking/tournament.test.js
Labels: bug

#241 220 play again button
  env-generator.sh
  services/frontend/src/App.tsx
  services/frontend/src/components/Game/GameOverlay.tsx
  services/frontend/src/components/Game/PlayAgainButton.tsx
  services/frontend/src/components/Game/WinnerMatchOverlay.tsx
  services/frontend/src/components/Lobby/lobby.css
  services/frontend/src/components/Overlay/Overlay.tsx
  services/frontend/src/components/Overlay/overlay.css
  services/frontend/src/components/Tournament/JoinMatchButton.tsx
  services/frontend/src/components/Tournament/MatchCard.tsx
  services/frontend/src/components/Tournament/TournamentCard.tsx
  services/frontend/src/components/Tournament/TournamentEndModal.tsx
  services/frontend/src/components/Tournament/tournament.css
  services/frontend/src/contexts/useAuth.tsx
  services/frontend/src/contexts/useLobby.tsx
  services/frontend/src/contexts/useRTTournament.tsx
  services/frontend/src/contexts/useUi.tsx
  services/frontend/src/hooks/useAPI.ts
  services/frontend/src/hooks/useTournament.ts
  services/frontend/src/index.css
  services/frontend/src/ui/ui.css
  services/frontend/src/views/TournamentView.tsx
  services/frontend/src/views/views.css
Labels: enhancement, frontend

#245 Online mode UX
  services/frontend/src/components/Online/ModeButton.tsx
  services/frontend/src/components/Online/SelectModeOverlay.tsx
  services/frontend/src/components/Online/online.css
  services/frontend/src/hooks/useGamemodes.ts
  services/frontend/src/hooks/useMatchmackingUsers.ts
Labels: enhancement, frontend

#250 profile view
  services/frontend/src/components/Profile/ProfileFilter.tsx
  services/frontend/src/components/Profile/ProfileGameList.tsx
  services/frontend/src/components/Profile/ProfileLineChart.tsx
  services/frontend/src/components/Profile/ProfilePieChart.tsx
  services/frontend/src/components/Profile/profile.css
  services/frontend/src/hooks/useFetch.ts
  services/frontend/src/hooks/useMatches.ts
  services/frontend/src/hooks/useUser.ts
  services/frontend/src/ui/ui.css
  services/frontend/src/views/ProfileView.tsx
Labels: enhancement, frontend

#254 friend request from blocked
  services/social/srcs/utils/Client.js
  tests/srcs/social/welcome.test.js
Labels: bug, backend

#259 Makefile
  Makefile
Labels: conf, chore

#261 Online view current gamemode
  services/frontend/src/components/Online/ModeButton.tsx
  services/frontend/src/components/Online/online.css
  services/frontend/src/components/Social/SocialManager.tsx
Labels: frontend

#265 Lobby settings
  modules/yatt-lobbies/src/Lobby.ts
  services/frontend/src/components/Lobby/LobbySettings.tsx
  services/frontend/src/components/Lobby/lobby.css
  services/frontend/src/contexts/useLobby.tsx
  services/frontend/src/ui/Checkbox.tsx
  services/frontend/src/ui/Range.tsx
  services/frontend/src/ui/Switch.tsx
  services/frontend/src/ui/ui.css
Labels: enhancement, frontend

#267 fix: tournaments are now also cancelled when one of it's matches is cancelled
  services/matchmaking/srcs/Tournament.js
Labels: backend

#268 Add reconnection button for social ws
  services/frontend/src/components/Social/SocialManager.tsx
  services/frontend/src/components/Social/social.css
  services/frontend/src/contexts/useAuth.tsx
Labels: enhancement, frontend

#270 Untimely overlay update
  services/frontend/src/components/Babylon/PongClient.ts
  services/frontend/src/contexts/usePong.tsx
Labels: bug, frontend, game

#272 Add mutex lock on refresh token
  services/frontend/package-lock.json
  services/frontend/package.json
  services/frontend/src/contexts/useAuth.tsx
  services/frontend/src/hooks/useAPI.ts
Labels: bug, frontend

#274 Change selected condition for mode button
  services/frontend/src/components/Online/ModeButton.tsx
Labels: bug, frontend

#269 Leaderboard
  services/frontend/src/components/LeaderBoard/LeaderBoard.tsx
  services/frontend/src/components/LeaderBoard/leaderboard.css
  services/frontend/src/hooks/useLeaderboard.ts
  services/frontend/src/index.css
  services/frontend/src/views/Home.tsx
  services/frontend/src/views/views.css
  services/matchmaking/package-lock.json
  services/matchmaking/package.json
  services/matchmaking/srcs/app/builder.js
  services/matchmaking/srcs/app/router.js
  services/matchmaking/srcs/computeLeaderboards.js
  services/matchmaking/srcs/routes/leaderboards.js
  tests/srcs/matchmaking/leaderboards.test.js
Labels: enhancement, frontend, backend

#277 Add basic power-up icons
  services/frontend/src/components/Babylon/PongClient.ts
  services/frontend/src/components/Game/GameOverlay.tsx
  services/frontend/src/components/Game/PowerUpIcon.tsx
  services/frontend/src/components/Game/Scores.tsx
  services/frontend/src/components/Game/game.css
  services/frontend/src/components/Lobby/lobby.css
Labels: enhancement, frontend

#282 UI improvement
  services/frontend/src/components/Game/PlayAgainButton.tsx
  services/frontend/src/components/Game/game.css
  services/frontend/src/components/LeaderBoard/LeaderBoard.tsx
  services/frontend/src/components/LeaderBoard/leaderboard.css
  services/frontend/src/components/Lobby/LobbyCard.tsx
  services/frontend/src/components/Lobby/LobbyStatus.tsx
  services/frontend/src/components/Profile/ProfileFilter.tsx
  services/frontend/src/components/Tournament/tournament.css
  services/frontend/src/contexts/useRTTournament.tsx
  services/frontend/src/hooks/useAPI.ts
  services/frontend/src/hooks/useMatches.ts
  services/frontend/src/ui/Checkbox.tsx
Labels: enhancement, frontend

#288 fix: queue timer displaying a '0'
  services/frontend/src/components/Lobby/LobbyCard.tsx
  services/frontend/src/components/Lobby/LobbyStatus.tsx
Labels: bug, frontend

#290 Key hint
  services/frontend/src/components/Game/GameOverlay.tsx
  services/frontend/src/components/Game/KeyHint.tsx
  services/frontend/src/components/Game/game.css
  services/frontend/src/components/Lobby/LobbySettings.tsx
  services/frontend/src/components/Overlay/Overlay.tsx
  services/frontend/src/components/Profile/ProfilePieChart.tsx
  services/frontend/src/hooks/useSocials.tsx
  services/frontend/src/hooks/useUser.ts
  services/frontend/src/views/Home.tsx
Labels: enhancement, frontend

#292 feat: add social/credentials database indexes
  Makefile
  services/credentials/srcs/app/database.js
  services/social/srcs/app/database.js
Labels: backend

#289 283 filter matchmaking users with 0 match from leaderboard
  services/frontend/src/components/Online/ModeButton.tsx
  services/frontend/src/components/Online/SelectModeOverlay.tsx
  services/frontend/src/components/Online/online.css
  services/frontend/src/hooks/useMatchmackingUsers.ts
  services/matchmaking/srcs/computeLeaderboards.js
Labels: enhancement, frontend, backend

#297 fix: lobby double join
  services/frontend/src/views/LobbyView.tsx
Labels: bug, frontend

#300 fix: ugly tournament winner modal
  services/frontend/src/components/Tournament/TournamentEndModal.tsx
  services/frontend/src/components/Tournament/tournament.css
Labels: enhancement, frontend

#305 fix powerups, and remove global powerups from game overlay
  modules/pong/src/core/Behaviors.ts
  modules/pong/src/core/EventBoxManager.ts
  modules/pong/src/core/IcePongEvent.ts
  modules/pong/src/core/MultiBallPongEvent.ts
  modules/pong/src/core/Pong.ts
  modules/pong/src/core/PongEvent.ts
  services/frontend/src/components/Babylon/PongClient.ts
  services/frontend/src/components/Game/GameOverlay.tsx
  services/frontend/src/components/Game/Scores.tsx
  services/frontend/src/components/Lobby/LobbySettings.tsx
Labels: bug, module

#309 fix: MMR pophover overflow
  services/frontend/src/components/Online/online.css
Labels: bug, frontend

#312 Remove overlay from fortytwo view
  services/frontend/src/contexts/useOverlay.tsx
Labels: frontend, chore

#314 Readme
  Makefile
  README.md
  documentation/services-communications.png
  services/CDN/.avatars/203-200x200.jpg
  services/CDN/.avatars/505-200x200.jpg
  services/CDN/.avatars/620-200x200.jpg
  services/CDN/.avatars/928-200x200.jpg
  services/CDN/.avatars/974-200x200.jpg
  services/CDN/.avatars/pizza.png
  services/CDN/.avatars/stromtrooper.png
Labels: documentation

#316 Readme github repository link
  README.md
Labels: bug, documentation

#315 feat: add time indicator and pong event weight
  modules/pong/src/core/AttractorPongEvent.ts
  modules/pong/src/core/EventBoxManager.ts
  modules/pong/src/core/MultiBallPongEvent.ts
  modules/pong/src/core/PongEvent.ts
  modules/pong/src/core/types.ts
  services/frontend/src/components/Babylon/PongClient.ts
  services/frontend/src/components/Game/PowerUpIcon.tsx
  services/frontend/src/components/Game/Scores.tsx
  services/frontend/src/components/Game/game.css
Labels: enhancement, frontend

#331 eval compose override
  docker-compose.eval.yaml
Labels: conf

#334 Change powerups name and weight
  modules/pong/src/core/MultiBallPongEvent.ts
  modules/pong/src/core/PongEvent.ts
  services/frontend/src/components/Lobby/LobbySettings.tsx
Labels: enhancement, frontend

#336 feat: local now uses ranked parameters and make speed ball work
  modules/pong/src/core/Pong.ts
Labels: bug, module

#338 Remove run time error display in production mode
  services/frontend/webpack.config.js
Labels: frontend, chore

#341 feat: tune camera control
  modules/pong/src/core/Pong.ts
  services/frontend/public/index.html
  services/frontend/src/components/Babylon/PongClient.ts
  services/frontend/src/components/Babylon/PongScene.ts
Labels: enhancement, frontend

#330 Remove console log
  modules/physics-engine/src/core/Body.ts
  modules/pong/src/core/Ball.ts
  modules/pong/src/core/Behaviors.ts
  modules/pong/src/core/Goal.ts
  modules/pong/src/core/Pong.ts
  services/frontend/src/components/Auth/LoginForm.tsx
  services/frontend/src/components/Babylon/Objects/AObject.ts
  services/frontend/src/components/Babylon/Objects/ClientBall.ts
  services/frontend/src/components/Babylon/PongClient.ts
  services/frontend/src/components/Babylon/PongScene.ts
  services/frontend/src/components/Babylon/TestPhysics.ts
Labels: frontend, chore

#342 Add ssl in make evaluation
  Makefile
Labels: bug, conf

#348 check lobby before leave and lobby leave not defined
  services/frontend/src/components/Auth/auth.css
  services/frontend/src/components/Lobby/ConfirmLobbyLeaveModal.tsx
  services/frontend/src/contexts/useLobby.tsx
  services/frontend/src/views/LocalView.tsx
  services/frontend/src/views/OnlineView.tsx
Labels: bug, frontend

#352 fix: was re-enabling the whole map
  services/frontend/src/components/Babylon/PongClient.ts
Labels: bug, frontend, game
